#friendsList{
    position:absolute;
    top: 26%;
    left: 0%;
    right: 0%;
    bottom: 0%;
    /* removes the default margin at the bottom */
    margin-block-start: 0em;
    margin-block-end: 0em;
}